/*
	Global
*/

* {
	outline: none;
}

html {
	position: relative;
}

body {
	position: relative;
	font-family: $sansFamily;
	background: $lightGrey;
	color: $black;
	line-height: 155%;
}


//
//	Links
//

a {
	text-decoration: none;
	outline: none;
	@include animate();
	
	&:link {
		color: $darkGrey;
		border-bottom: 1px solid transparent;
	}

	&:visited {
		color: $darkGrey;
	}

	&:hover {
		color: $darkGrey;
		border-bottom: 1px solid $darkGrey;
	}

	&:active {
		color: $black;
	}
}
