/*
	Header
*/

section.menu {
	border-bottom: 1px solid $lightGrey;
	position: relative;
	z-index: 1010;
	header {
		background: white;

		.menu-content {
			padding: 1.5em 0;

			h1 {
				float: left;
			}

			a {
				color: $darkGrey;
				border: none;
			}

			.filter-button {
				float: right;
				cursor: pointer;
			}
		}
	}
}