/*
	Map
*/


section.map {
	.studio-map-holder {
		.map-primary {
			height: 100%;
			width: 100%;
		}
	}
	.pin-label {
		background: rgba(255,255,255,0.8);
		font-style: italic;
		white-space: nowrap;
		padding: 0.5em 1em;
		z-index: 5000;
		width: auto !important;
		@include box-shadow(0 3px 1em rgba(0,0,0,0.2));
	}
}