/*
	Rolodex
*/


section.cards {
	position: fixed;
	left: 0;
	top: 3em;
	bottom: 0;
	// background: white;
	z-index: 1000;
	.rolodex {
		height: 100%;
		.card {
			display: none;
			width: 350px;
			height: 100%;
			float: left;
			background: white;
			overflow: scroll;
			position: relative;
			@include box-shadow( 2px 0 0.5em rgba( 0 , 0 , 0 , 0.15 ) );
			@include border-radius( 2px );
			.card-wrap {
				padding: 3em 2em 2em 2em;
			}
			.controls {
				cursor: pointer;
				color: $midGrey;
				text-align: left;
				margin-top: 2em;

				.control {

					.label {
						display: none;
						vertical-align: middle;

						&:before {
							display: inline-block;
							content: '/';
							margin: 0 .5em;
							color: $midGrey;
						}
					}

					&:hover {
						.label {
							 display: inline-block;
						}
						.action {
							color: $darkGrey;
						}
					}

				}

				.action {
					font-size: 200%;
					vertical-align: middle;
					width: 0.5em;
					display: inline-block;
					text-align: center;
					active {
						display: none;
					}
					inactive {
						display: inline-block;
					}
				}
			}

			&.open {
				.controls {
					right: 2em;
					active {
						display: inline-block;
					}
					inactive {
						display: none;
					}
				}
			}

			h2 {
				font-weight: 200;
				font-style: italic;
				font-size: 175%;
				letter-spacing: 0.08em;
				margin-bottom: 2em;
			}

			.stats {
				display: table;
				width: 100%;
				margin-bottom: 1em;

				.stat {
					display: table-cell;
					padding-right: 2em;

					.stat-label {
						border-bottom: 1px solid rgb(206, 206, 206);
						font-size: 75%;
						letter-spacing: 1px;
						text-transform: uppercase;
					}
					.stat-value {
						&.number {
							font-size: 150%;
							font-weight: 100;
							font-style: italic;
							margin-top: 0.25em;
							color: rgb(192, 192, 192);
						}
						&.text {
							margin-top: 0.35em;
						}
					}
				}
			}

			.principals {
				.principal {
					margin-bottom: 0.35em;

					.name , .role {
						display: block;
					}

					.role {
						color: $midGrey;
						font-style: italic;
						font-size: 75%;
						letter-spacing: 1px;
						text-transform: uppercase;
					}
				}
			}

			.tags {
				span {
					color: $midGrey;
				}
			}

			.body {
				.description-label {

				}
			}
		}
	}
}