/*
	Search Panel
*/

section.search {
	background: white;
	display: none;
	position: absolute;
	z-index: 1000;
	width: 100%;
	@include box-shadow( 0 0 0.5em rgba( 0 , 0 , 0 , 0.25 ) );

	form {
		padding: 1.5em 0;
	}

	.field-group {
		margin-bottom: 1em;
		.field {
			label {
				&:hover {
					input {
						border-color: $darkGrey;
					}
					.count {
						color: $darkGrey;
					}
				}
				input:focus , input:checked {
					border-color: $darkGrey;
				}
				input:checked {
					background: $darkGrey;
				}
			}
			.label-text {
				.count {
					vertical-align: middle;
					margin-left: 0.5em;
					letter-spacing: 3px;
					font-size: 80%;
					color: $midGrey;
				}
			}
		}
		.split {
			.left , .right {
				float: left;
				width: 48%;
			}
			.left {
				margin-right: 4%;
			}
		}
	}

	.tag-list {
		.tag {
			label {
				text-transform: sentence-case;
			}
		}
	}

	.category-list {
		.category {

		}
	}
}