/*
	Variables
*/



//	
//	Color
//	

$lightGrey: rgb(240,240,240);
$darkGrey: rgb(50,50,50);
$black: rgb(30,30,30);
$white: white;


//	
//	Typefaces
//	

$sansFamily: #{ "brandon-grotesque" , "Helvetica Neue" , Helvetica , sans-serif };
$serifFamily: #{ "calluna" , Georgia , serif };