/*
	Variables
*/


//
//	Layout
//

$numColumns: 12;
$gutterWidth: 3%;


//	
//	Color
//	

$lightGrey: rgb(248,248,248);
$midGrey: rgb(180,180,180);
$darkGrey: rgb(50,50,50);
$black: rgb(30,30,30);
$white: white;


//	
//	Typefaces
//	

$sansFamily: #{ "proxima-nova" , "Helvetica Neue" , Helvetica , sans-serif };
// $sansFamily: #{ "brandon-grotesque" , "Helvetica Neue" , Helvetica , sans-serif };
$serifFamily: #{ "calluna" , Georgia , serif };

//
//	Mixins
//

@mixin animate( $duration: .35s , $property: all , $function: cubic-bezier( 0 , 1 , .75 , 1 ) ) {
	@include transition-duration( $duration );
	@include transition-property( $property );
	@include transition-timing-function( $function );
}